{% extends 'base.html.twig' %}

{% block title %}Confection{% endblock %}

{% block body %}


    <div class="container">
        <div class="card card-custom gutter-b">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">Confection
                        <span class="d-block text-muted pt-2 font-size-sm">Liste des confections</span></h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="{{ path('confection_new') }}" class="btn btn-primary font-weight-bolder">
                        <span class="svg-icon svg-icon-md">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <circle fill="#000000" cx="9" cy="15" r="6"/>
                                    <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                                          fill="#000000" opacity="0.3"/>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>Ajouter nouveau</a>
                    <!--end::Button-->
                </div>
            </div>
            <!--begin::Body-->
            <div class="card-body py-0">
                <!--begin::Table-->
                <div class="table-responsive">
                    <table class="table table-head-custom table-vertical-center">
                        <thead>
                        <tr class="text-uppercase">
                            <th class="pl-0" style="width: 40px">
                                <label class="checkbox checkbox-lg checkbox-single mr-2">
                                    <input type="checkbox" value="1">
                                    <span></span>
                                </label>
                            </th>
                            <th class="pl-0" style="min-width: 100px">Condection id</th>
                            <th style="min-width: 120px">Nom</th>
                            <th class="pr-0 text-right" style="min-width: 160px">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for confection in confections %}
                        <tr>
                            <td class="pl-0 py-6">
                                <label class="checkbox checkbox-lg checkbox-single">
                                    <input type="checkbox" value="1">
                                    <span></span>
                                </label>
                            </td>
                            <td>{{ confection.id }}</td>
                            <td>{{ confection.name }}</td>
                            <td class="pr-0 text-right">
                                <div class="dropdown dropdown-inline">
                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" data-toggle="dropdown">
                                        <i class="ki ki-bold-more-hor"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <ul class="navi flex-column navi-hover py-2">
                                            <li class="navi-item"><a href="#" class="navi-link"> <span class="navi-icon"><i
                                                                class="la la-eye"></i></span> <span class="navi-text">Détails</span>
                                                </a></li>
                                            <li class="navi-item"><a href="#" class="navi-link"> <span class="navi-icon"><i
                                                                class="la la-copy"></i></span> <span
                                                            class="navi-text">Editer</span> </a></li>
                                            <li class="navi-item"><a href="#" class="navi-link"> <span class="navi-icon"><i
                                                                class="la la-file-excel-o"></i></span> <span
                                                            class="navi-text">Supprimer</span> </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Body-->
        </div>
    </div>

{% endblock %}
