{% extends 'base.html.twig' %}

{% block title %}New Payement{% endblock %}

{% block body %}
    <h1>Create new Payement</h1>

    {{ include('payement/_form.html.twig') }}

    <a href="{{ path('payement_index') }}">back to list</a>
{% endblock %}
