{% extends 'base.html.twig' %}

{% block title %}Edit Typologie{% endblock %}

{% block body %}
    <h1>Edit Typologie</h1>

    {{ include('typologie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('typologie_index') }}">back to list</a>

    {{ include('typologie/_delete_form.html.twig') }}
{% endblock %}
